html { width: 100%; height: 100%; }

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: .75vmin;
    box-sizing: border-box;
    background: #eee;
    
    display: flex;
    flex-direction: column;
    gap: .3vmin;
}

#select-file { display: none; }

#top {
    display: flex;
    flex-direction: row;
    gap: 1vmin;
}

#bottom {
    flex-grow: 1;
    
    display: flex;
    flex-direction: row;
    gap: .5vmin;
}

.player-container {
    flex-basis: 0;
    flex-grow: 1;
    border-radius: .5vmin;
    
    display: flex;
    flex-direction: column;
}

#left.red { background: linear-gradient(to right, #faa, #fff); }
#right.red { background: linear-gradient(to left, #faa, #fff); }

#left.blue { background: linear-gradient(to right, #aaf, #fff); }
#right.blue { background: linear-gradient(to left, #aaf, #fff); }

.player-name {
    font-family: Verdana;
    font-size: 3vmin;
    font-weight: bold;
}

.cards-container {
    flex-grow: 1;
    overflow: scroll;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-content: flex-start;
    gap: .3vmin;
}

.cards-container a {
    background-size: cover;
    aspect-ratio: 119 / 140;
    border-radius: .25vmin;
}
